@font-face {
	font-family: "Baloo Bhai 2", "Baloo Bhai", Baloo;
	font-weight: 400 800;
	font-display: swap;
	src: local("Baloo Bhai 2") url(./assets/fonts/BalooBhai2-VariableFont_wght.ttf) format("truetype");
}

@font-face {
	font-family: "Noto Sans", Noto;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: local("Noto Sans") url(./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf) format ("truetype");
}

@font-face {
	font-family: "Noto Sans", Noto;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: local("Noto Sans") url(./assets/fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
	font-family: "Geologica";
	font-weight: 100 900;
	font-display: swap;
	src: local("Geologica") url(./assets/fonts/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf) format("truetype");
}
