@font-face {
	font-family: "Baloo";
	font-weight: 400 800;
	font-display: swap;
	src: local("Baloo"), url(./assets/fonts/baloo.ttf) format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: local("Noto Sans"), url(./assets/fonts/notosans.ttf) format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: local("Noto Sans"), url(./assets/fonts/notosans-italic.ttf) format("truetype");
}

@font-face {
	font-family: "Geologica";
	font-weight: 100 900;
	font-display: swap;
	src: local("Geologica"), url(./assets/fonts/geologica.ttf) format("truetype");
}