
html,
body,
#root {
    display: grid !important;
    width: 100%;
    height: 100vh;
    padding: 0 0.1em;
    /* Ensure the root div takes up the full height of the viewport */
}


/* .item {
    background-color: #fb7185;
    font-weight: 700;
    border: 1px solid black;
} */


.container {
    height: 95vh;
    display: grid;
    width: 100%;
    grid-template-rows: 2fr 30fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "nav search"
        "nav main";

    /* row-gap: 2rem; */
}


.gallery {
    border-radius: 1.3em;
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.wrapper{
    grid-row: 1/4;
    grid-column: 1/4;
}

.search{
    grid-area: search;
    text-align: center;
}

.nav{
    grid-area: nav;
    height: 100vh;
}
